<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About this Project</title>

    <!-- Icon -->
    <link rel="icon" type="image/png" href="../images/icons/computer.png" />

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../index.html">AWS for Healthcare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item-">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container main">
        <h1>About AWS for Healthcare</h1>
        <div>
            <img src="../images/diagram.png" width=100%>
            <p>It's no secret that humans use technology to improve their lives each day. One
                of our favorite ways machines help us is by completing the most mundance and repetitive
                tasks. People used to slave for hours besides a wash basin, scrubbing fabric in soapy water. Today's 
                working class individual tosses those clothes in a washing machine. Letters traveled at the speed of the 
                mail carrier - but email travels within seconds. Knitting, sewing, and cooking are no longer required, but optional.
                The <i>Microwave</i> - this invention doesn't even need an explanation.
            </p>
            <p> Man and machine working side by side, a potent combination of precision and gut intuition. Looking at a world
                where machines can help professionals perform even better than before, we wanted to know what that looks like in the world
                of healthcare. 
            </p>
            <h3> What do Hospitals Use Now? </h3>
            <p> If you've ever been to a modern-day hospital in America with more than 100 people, you will know that notification systems
                are not new - they are widely depended on! Several companies make a living providing stable, feature-rich, all inclusive software
                system packages to hospitals. But these solutions are <b>expensive</b>. Bigger hospitals spend hundreds of thoudsands of dollars on such
                a system, and smaller healthcare providers are left to their own devices.
            </p>
            <p> What's more, the software is a <b>closed system</b>. Which means it's absolutely unique to the company, and any time something needs to be 
                repaired, upgraded, or monitored, the company needs to be called. This is a great idea for generating more business as a company, but becomes one 
                of the reasons hospital visits are so costly a venture. 
            </p>
            <p> These systems can also be a sticky sand trap. A hospital is a difficult place to do a software update - after all the place never closes, 
                and the work never stops. This means that hospitals/centers are loathe to switch software systems unless they truly need to. They would rather pay
                more money to keep the system they have, giving the software company an amount of power over the hospital, and can <b>easily charge more
                money for its services over time</b>. All of this takes away from the heathcare provider's ultimate goal - to provide great, affordable healthcare!
            </p>
            <h3> Our Notification System using AWS</h3>
            <p>Enter in our system: Lightweight, Customizable, and Affordable. Using the powerful <b>A</b>mazon <b>W</b>eb <b>S</b>ervices to do the heavy lifting, we want to provide an alternative to those costly platforms. We have currently implemented a few key features, while exploring even more possibilities for 
            the future. 
            <h5>IoT Buttons</h5>
            <img src="../images/aws-iot-btn.png" width=20%>

            <p>These little buttons are simple, but effective. No wires needed, instead long-lasting batteries power the button and a wireless connection keep these buttons
            ready to help. We have used them for patients, allowing them to send sns messages to their health care professional when they require their attention. These buttons
            can also be used to monitor the status of medical equipment, and alerts can be triggered when a technician's services are required. 
            To take a glimpse into the power of IoT buttons, visit our IoT Virtual Button (accessible through the home page) to send a message using the virtual button!</p>

            <h5>Dynamo Database</h5>
            <img src="../images/about_db.png" width=15%>
            <p>Description Coming Soon!</p>

            <h5>API Gateway</h5>
            <p>Description Coming Soon!</p>

            <h5>Lambda Functions</h5>
            <p>This is the meat of the operation. More on these crucial functions in the future!</p>
        </div>