<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Team</title>

    <!-- Icon -->
    <link rel="icon" type="image/png" href="../images/icons/computer.png" />

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/team.css">
    <style>
        html {
            min-height: 100%;
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../index.html">AWS for Healthcare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="team.html">Team
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <!-- img 120x160 -->
        <div class="authors">
            <h1><center>Authors</center></h1>
            <div class="card w-50 mb-3"  style="float: left">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../images/kien.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Kien Nguyen</h3>
                            <p class="card-text">Working on his Computer Science Bachelor's Degree at TCU.</p>
                            <p class="card-text"><strong>Research Interests:</strong> Cloud Computing, Monte Carlo Tree Search and Convolutional Neural Networks in AlphaZero</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-50 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../images/kenzie.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Kenzie Clarke</h3>
                            <p class="card-text">Working on her Computer Science Bachelor's Degree at TCU.</p>
                            <p class="card-text"><strong>Research Interests:</strong> Cloud Computing, Vehicular Edge Computing, Cryptography, and Data Science</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="advisors">
            <h1><center>Advisors</center></h1>
            <div class="card w-50 mb-3" style="float: left">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../images/suegong.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Cuiling (Sue) Gong</h3>
                            <p class="card-text">Associate Professor at TCU's Department of Engineering</p>
                            <p class="card-text"><strong>Research Interests:</strong> MEMS Design & Modeling, Microscale Energy Harvesting Techs, Wireless Sensor Networks, Ultrasonic Induced Cavitation & Sonochemical Effects</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-50 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../images/liranma.png"  class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Liran Ma</h3>
                            <p class="card-text">Associate Professor at TCU's Department of Computer Science.</p>
                            <p class="card-text"><strong>Research Interests:</strong> Security & Reliability of Networked Information Systems, Algorithms & Protocols for Smartphone Applications, Internet of Things, and Security Education</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-white">AWS4Healthcare</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>